/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */



body {
    margin-top: 51px;
    padding: 0;
    font-family: 'Cardo', serif;
    background-image: linear-gradient(#7F8688,#929D9E);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}*/

li{
    transition: .2s;
}

card{
    
    text-align:center;
}

.card-body{
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.landing {
    height: 92vh;
    width: 100vw;
    background-image: url("/images/landscape.png");
    background-size: cover;
}

.well {
    padding: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

/*Card code*/
.wrapper {
    height: 420px;
    width: 48%;
    margin: 50px 1%;
    border-radius: 15px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    padding: 0;
}

.product-img {
    float: left;
    height: 420px;
    width: 50%;
}

    .product-img img {
        border-radius: 15px;
        padding: 10px;
        
    }

.product-info {
    /*float: left;*/
    height: 420px;
    width: 50%;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.product-text {
    height: 300px;
    width: 327px;
}

    .product-text h1 {
        margin: 0 0 0 38px;
        padding-top: 52px;
        font-size: 34px;
        color: #474747;
    }

    .product-text h1,
    .product-price-btn p {
        font-family: 'Bentham', serif;
    }

    .product-text h2 {
        margin: 0 0 47px 38px;
        font-size: 13px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: #d2d2d2;
        letter-spacing: 0.2em;
    }

    .product-text p {
        height: 125px;
        margin: 0 0 0 38px;
        font-family: 'Playfair Display', serif;
        color: #8d8d8d;
        line-height: 1.7em;
        font-size: 15px;
        font-weight: lighter;
        overflow: hidden;
    }

.product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: center;
    align-content: center;
    
}

    .product-price-btn p {
        display: inline-block;
        position: absolute;
        top: -13px;
        height: 50px;
        font-family: 'Trocchi', serif;
        margin: 0 0 0 38px;
        font-size: 28px;
        font-weight: lighter;
        color: #474747;
    }

span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
}

.product-price-btn button {
    float: left;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 38px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
}

    .product-price-btn button:hover {
        background-color: #79b0a1;
    }
    #card-row{
        margin:0 0 0 38px;
    }

#map{
    height:90vh;
}

section {
    color: #fff;
    text-align: center;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0;
}

h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
    display: table;
    width: 100%;
}

.left-half {
    background-color: #ff9e2c;
    position: absolute;
    left: 0px;
    width: 50%;
    padding:0;
}

.right-half {
    background-color: #b6701e;
    position: absolute;
    right: 0px;
    width: 50%;
}

#contactInfo {
    background-color: steelblue;
    height: 92vh;
    padding: 10% 0;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#contactInfo h1{
    font-size: 6em;
    padding: 20px;
}
#contactInfo h3{
    font-size: 1.5em;
    padding-top: 20px;
}
#contactInfo button{
    margin: 30px;
}
