/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */



body {
    color: white;
    margin-top: 51px;
    padding: 0;
    font-family: 'Cardo', serif;
    background-color: #0B172A;
    background-size: cover;
}

/* not working*/
.contact-map {
    padding-left: 0;
}



.navbar {
    background-color: #bc4132;
    border-color: #bc4132;
}

    .navbar a, icon-bar {
        color: white;
    }

        .navbar a:hover {
            color: black;
        }





/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .contact-map {
        display: none;
        margin: 0;
    }

    .contact-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .landing {
        background-image: url("/images/mobilelandscape.jpg");
    }
}

.landing {
    height: 92vh;
    width: 100vw;
    background-image: url("/images/landscape2.png");
    background-size: cover;
}

.well {
    margin: 10px;
    padding-top: 50px;
    padding: 10px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    background-color: lightgray;
    color: black;
}

.navbar icon-bar {
    color: white;
}


.product-img {
    float: left;
    height: 420px;
    width: 50%;
}

    .product-img img {
        border-radius: 15px;
        padding: 10px;
    }

.product-info {
    /*float: left;*/
    height: 420px;
    width: 50%;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.product-text {
    height: 300px;
    width: 327px;
}

    .product-text h1 {
        margin: 0 0 0 38px;
        padding-top: 52px;
        font-size: 34px;
        color: #474747;
    }

    .product-text h1,
    .product-price-btn p {
        font-family: 'Bentham', serif;
    }

    .product-text h2 {
        margin: 0 0 47px 38px;
        font-size: 13px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        color: #d2d2d2;
        letter-spacing: 0.2em;
    }

    .product-text p {
        height: 125px;
        margin: 0 0 0 38px;
        font-family: 'Playfair Display', serif;
        color: #8d8d8d;
        line-height: 1.7em;
        font-size: 15px;
        font-weight: lighter;
        overflow: hidden;
    }

.product-price-btn {
    height: 103px;
    width: 358px;
    margin-top: 17px;
    align-content: center;
}

    .product-price-btn p {
        display: inline-block;
        position: absolute;
        top: -13px;
        height: 50px;
        font-family: 'Trocchi', serif;
        margin: 0 0 0 38px;
        font-size: 28px;
        font-weight: lighter;
        color: #BC4132;
    }



    .product-price-btn button {
        display: inline-block;
        height: 50px;
        width: 176px;
        margin: 0;
        box-sizing: border-box;
        border: transparent;
        border-radius: 60px;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        background-color: #BC4132;
        cursor: pointer;
        outline: none;
    }

        .product-price-btn button:hover {
            background-color: #d85b4b;
        }

#card-row {
    margin: 0;
}

#map {
    height: 90vh;
}

section {
    color: #fff;
    text-align: center;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0;
}



/* Pattern styles */
.container {
    display: table;
    width: 100%;
}

.left-half {
    background-color: #ff9e2c;
    position: absolute;
    left: 0px;
    width: 50%;
    padding: 0;
}

.right-half {
    background-color: #0B172A;
    position: absolute;
    right: 0px;
    width: 50%;
}

#contactInfo {
    background-color: #0B172A;
    height: 92vh;
    padding: 10% 0;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

    #contactInfo h1 {
        font-size: 6em;
        padding: 20px;
    }

    #contactInfo h3 {
        font-size: 1.5em;
        padding-top: 20px;
    }

    #contactInfo button {
        margin: 30px;
        background-color: #bc4132;
        border-color: white;
    }

    .card-info{
        text-align:center;
        padding-top:10%;
        padding-bottom: 10%;
        padding-left: 0;
        padding-right: 0;
    }