@{
    ViewData["Title"] = "Our Art & History";
}
@{ 
    ViewData["Message"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This area will be used to describe the alter progress, as well as spotlight the "artists".</p>
