@{
    ViewData["Title"] = "Contact";
}
@section Wide
    {
    <section class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <img src="~/images/map.jpg" class="img-responsive" id="map" alt="map" />
            </div>
            <div class="col-xs-6" id="contactInfo">
                <div class="row">
                    <h1>Jace's Place</h1>
                </div>
                <div class="row">
                    <h3>422 E Ohio St. / Chicago, IL 60654</h3>
                    <h3>(444) 444 - 4444 / jace@tms.com</h3>
                </div>
                <button type="button" class="btn-lg btn-info" onclick="window.open('https://maps.google.com/?q=422+E+Ohio+St,+Chicago,+IL+60654')">Directions</button>
            </div>
        </div>
    </section>
}





