@{
    ViewData["Title"] = "Home Page";
}

<div id="myJumbotron" class="jumbotron" style="margin-top: 15px; background: -webkit-linear-gradient(top, #258dc8 0%,#258dc8 100%");>
    <h1 class="display-4">Welcome, to Jace's Place</h1>
    <p class="lead">The universe's leader in custom Magic, the Gathering product.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">On the Horizon</a>
    </p>
</div>



