

@{
    ViewData["Title"] = "Home Page";
}
@section Wide{
    @*<nav class="navbar navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Jace's Place</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-area="" asp-controller="CardTypes" asp-action="Index">Cards</a></li>
                    <li><a asp-area="" asp-controller="Cart" asp-action="Index"><i class="fas fa-cart-arrow-down"></i></a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>*@
<div class="landing">

</div>
}







