

@{
    ViewData["Title"] = "Home Page";
}
@section Wide{
    <div id="landing">
        <img class="img-responsive" src="~/images/landscape.png" alt="placeholder" />
    </div>
}



<div class="content">
    <div id="myJumbotron" class="jumbotron" style="margin-top: 15px; background: -webkit-linear-gradient(top, #258dc8 0%,#258dc8 100%" );>
        <h1 class="display-4">Welcome, to Jace's Place</h1>
        <p class="lead">The universe's leader in custom Magic, the Gathering product.</p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/CardTypes" role="button">View our Inventory</a>
        </p>
    </div>
</div>



